.addHW {
  height: 50px;
  width: auto;
}

.bntStyle {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #fff;
  border-radius: 0px;
  border: 3px solid #444;
  border-width: 3px 3px 3px 3px;
  padding: 5px 20px 5px 20px;
  color: #000;
  font-size: 16px;
  font-family: Verdana;
  font-weight: 900;
  font-style: normal;
}
