<div class="container">
  <h1> Тема: {{this.WordResult.Theme}}</h1>
  <div class="row"></div>
  <h2>Осталось попыток: {{ this.cntProbe }}</h2>
  <h2>Кол-во символов в слове: {{this.WordResult.Word.length}} </h2>

  <p>Текущее отгаданное слово {{ WordResult.Word }}</p>
  <p>Кол-во попыток {{ WordResult.RemainingLetters }}</p>



  <div class="row addHW">
    <div class="col-md-1" *ngFor="let number of firstKeyBoard; index as i">
      <button
        class="bntStyle"
        type="button"
        [attr.id]="'id' + i"
        (click)="getsymbol(number, 'id' + i)"
      >
        {{ number }}
      </button>
    </div>
  </div>

  <div class="row addHW">
    <div class="col-md-1" *ngFor="let number of secondKeyBoard; index as i">
      <button
        class="bntStyle"
        type="button"
        [attr.id]="'id2' + i"
        (click)="getsymbol(number, 'id2' + i)"
      >
        {{ number }}
      </button>
    </div>
  </div>

  <div class="row addHW">
    <div class="col-md-1" *ngFor="let number of threeKeyBoard; index as i">
      <button
        class="bntStyle"
        type="button"
        [attr.id]="'id3' + i"
        (click)="getsymbol(number, 'id3' + i)"
      >
        {{ number }}
      </button>
    </div>
  </div>
</div>
