#btnStartGame {
  background: #15d798;
  border-radius: 11px;
  box-shadow: 0 6px #11b37e;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 20px/1 "Open Sans", sans-serif;
  text-align: center;
  width: auto;
  height: auto;
}

#selectTheme {
  width: 200px;
  height: auto;
}

#lblChooseTheme {
  font-size: 31px;
}
