<div class="container">
  <div class="row">
    <label id="lblChooseTheme">Выберете тему</label>
  </div>

  <div class="row">
    <div class="col-md-4">
      <select [(ngModel)]="this.selId" id="selectTheme" class="form-control">
        <option *ngFor="let option of Alltheme" [value]="option.ThemeId">
          {{ option.Theme }}
        </option>
      </select>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <a id="btnStartGame" [routerLink]="[selId]" class="link">Начать игру</a>
    </div>
  </div>
</div>
