<div class="container">
  <button (click)="this.Toggle = !this.Toggle">ToggleButton</button>

  <!-- <p *ngIf="this.Toggle; else blueP"  class="blue" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cumque. </p>
  <ng-template #blueP>
    <p class="red" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cumque. </p>
  </ng-template> -->

  <!--
  <p [class.blue]="!this.Toggle" [class.red]="this.Toggle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos.
  </p>
или 2 варианта изменения  класса свойств
  <p
    [ngClass]="{
      red: this.Toggle === true,
      blue: !this.Toggle
    }"
  >
    quaerat. Odit, voluptatem
  </p> -->

  <!-- <div
     определение свойств  стиля в зависимости от переменных ngStyle
    [ngStyle]="{
      width: '200px',
      height: '200px',
      borderRadius: '5px',
      border: '1px solid #ccc',
      background: this.Toggle ? 'red' : 'blue'
    }"
  ></div> -->
</div>

<!-- <input type="text" (input)="this.onInput(myInput.value)" #myInput />
  <p>{{ this.inputValue }}</p> -->

<!-- two way bindings
  <input [(ngModel)]="this.title" type="text" />
  <p>{{ this.title }}</p> -->
